{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}
{% block beforeMain %}
  {% if data.page %}
    <ul class="children">
      {% for child in data.page._children %}
        <li><a href="{{ child._url }}">{% if child.title == 'allEvents'%} Listado de proximos eventos {% endif %}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
{% block main %}

{% endblock %}
